
.cell{
    width: 100px;
    height: 100px;
    border: 1.5px white solid;
    /*box-shadow: 0 0 0 2px white;*/
    line-height: 95px;
    font-size: 45px;
    cursor: pointer;
    background-color: rgb(107, 142, 248);
    font-family: "Permanent Marker", cursive;
    transition: all ease-in-out 0.4s;
}

.cell:hover{
    background-color: rgb(165, 186, 250);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell.cell:nth-child(3n+1) {
    border-left: none;
}

.cell.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

#gameContainer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 80px auto;
    padding: 30px;
    width: 600px;
    height: 400px;
    background-color: rgb(196, 245, 229);
    text-align: center;
}

#cellContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    /*width: 225px;*/
    width: 300px;
    height: 300px;
    margin: auto;
    /*padding-top: 30px;*/
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    
}

#restartBtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restart{
    color: black;
    transition: all ease 0.5s;
    padding: 8px 20px;
    background-color: rgb(165, 186, 250);
    border: none;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.restart:hover{
    background-color: rgb(107, 142, 248);
    color: white;
}
